.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* You can add global styles to this file, and also import other style files */

.ghem {
  font-family: 'Great Vibes', cursive;
  color: #ff8100f2;
}

.sticky-wrapper.is-sticky nav .navbar-brand.ghem {
  position: absolute;
  top: 5px;
  font-size: 60px;
}
